<PROJECT_SET>
  <PROJECT alias="{{ project.alias }}">
    <TITLE>{{ project.title | e }}</TITLE>
    <DESCRIPTION>{{ project.description | e }}</DESCRIPTION>
    <SUBMISSION_PROJECT>
      <SEQUENCING_PROJECT/>
    </SUBMISSION_PROJECT>
    {% if project.project_links %}
    <PROJECT_LINKS>
      {% for pl in project.project_links %}
      <PROJECT_LINK>
        <XREF_LINK>
          <DB>{{ pl.xrefLink.db }}</DB>
          <ID>{{ pl.xrefLink.id }}</ID>
        </XREF_LINK>
      </PROJECT_LINK>
      {% endfor %}
    </PROJECT_LINKS>
    {% endif %}
  </PROJECT>
</PROJECT_SET>